.home{

  @media only screen and (min-width: 440px) and (max-width: 639px){
    padding-top: 2.5rem;

     //general
  .hero{
    width: 100% !important;
    height: 600px !important;
    box-sizing: border-box;

    .hero-slider{
      img{
        width: 100% !important;
        height: 600px !important;
      }
    }
  }
  
  
  }


  padding-top: 3.5rem;

  @include breakpoint(small only){
    padding-top: 3rem;
  }

   //mobile view
   @include breakpoint(small only){
    padding-top: 2.5rem;

     //general
  .hero{
    width: 100% !important;
    height: 256px !important;
    box-sizing: border-box;

    .hero-slider{
      img{
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
  }
  //general
  .hero{
    width: 100%;
    height: 750px;
    box-sizing: border-box;

    .hero-slider{

      img{
        width: 100% !important;
        height: 750px;
      }
    }
  }
  .display-products{
    padding: 3rem;

    @include breakpoint(small only) {
      text-align: center;
      padding: 0.7rem;
    }

    a{
      color: #0a0a0a;

      &:focus{
        outline-style: none;
      }
    }

    .card{
      padding: 0.9rem;
      margin-bottom: 1rem;

      .card-section{
        margin-bottom: 0.7rem;
        
        img{
          display: block;
          margin: auto;
          border-radius: 0.5rem;
          width: 200px !important;
          height: 250px !important;
        }

        .button{
          border-radius: 0.2rem;
          cursor: pointer;
          font-size: 0.8rem;

          &.more{
            color: #00d6b2;
            background-color: #ffffff;
            border: 1px solid #00d6b2;
          }
          &.cart{
            color: #ffffff;
            background-color: #ff0000;
            border: 1px solid #ff0000;
            &:hover{
              background-color: lighten(#bf0000, 7%);
            }
          }
        }
      }
    }
  }
}